 <%= stylesheet_link_tag "application" %>


<div class = "row">
  <div class = "column side"> <p> TODO: Terrain Column? </p> </div>
  <div class = "column middle"> <p> TODO: Map Column </p> </div>  
  <div class = "column side">
    <%= form_with scope: :character, url: characters_url, local: true do |form| %>
      <div id = "characterLogisticsRow">
        <div id = "characterLogistics">
          <p>
            <%= form.label :Name %><br>
            <%= form.text_field :name %>
          </p>
          <p>
            <%= form.label "Move Type" %><br>
            <%= form.collection_select :move_type_id, MoveType.all, :id, :name %>            
          </p>
        </div>
        <div id = "characterLogistics">        
          <p>
            <%= form.label "Weapon Type" %><br>
            <%= form.collection_select :weapon_type_id, WeaponType.all, :id, :name %>            
          </p>
          <p>
            <%= form.label :Type %><br>
            <%= form.collection_select :type_id, Type.all, :id, :name %>            
          </p>
        </div>
      </div>

      <div id = "characterSkillsRow">
        <div id = "characterSkills">
          <p>
            <%= form.label :weapon_name %><br>
            <%= form.text_field :weapon_name, class: :weapon_name, data: {src: Weapon.order(:name).map(&:name)} %>
          </p>
          <p>
            <%= form.label :assist_name %><br>
            <%= form.text_field :assist_name, class: :assist_name, data: {src: Assist.order(:name).map(&:name)} %>
          </p>
          <p>
            <%= form.label :special_name %><br>
            <%= form.text_field :special_name, class: :special_name, data: {src: Special.order(:name).map(&:name)} %>
          </p>
          <p>
            <%= form.label :skill_a_name %><br>
            <%= form.text_field :skill_a_name, class: :skill_a_name, data: {src: SkillA.order(:name).map(&:name)} %>
          </p>
          <p>
            <%= form.label :skill_b_name %><br>
            <%= form.text_field :skill_b_name, class: :skill_b_name, data: {src: SkillB.order(:name).map(&:name)} %>
          </p>
          <p>
            <%= form.label :skill_c_name %><br>
            <%= form.text_field :skill_c_name, class: :skill_c_name, data: {src: SkillC.order(:name).map(&:name)} %>
          </p>

          <p>
            <%= form.label :Seal %><br>
            <%= form.text_field :seal_id %>
          </p>
        </div>

        <div id = "characterSkills">
          <p>
            <%= form.label :Atk %><br>
            <%= form.text_field :attack %>
          </p>

          <p>
            <%= form.label :Spd %><br>
            <%= form.text_field :speed %>
          </p>

          <p>
            <%= form.label :Def %><br>
            <%= form.text_field :defense %>
          </p>

          <p>
            <%= form.label :Res %><br>
            <%= form.text_field :resistance %>
          </p>
        </div>
      </div>
      <p>
        <%= form.submit %>
      </p>
    <% end %>  
  </div>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Weapon</th>
    <th>Special</th>
    <th>Assist</th>
    <th>Skill A</th>
    <th>Skill B</th>
    <th>Skill C</th>
    
  </tr>

  <% @characters.each do |character| %>
    <tr>
      <td><%= character.name %></td>
      <td><%= character.weapon_id %></td>
      <td><%= character.special_id %></td>
      <td><%= character.assist_id %></td>
      <td><%= character.skill_a_id %></td>
      <td><%= character.skill_b_id %></td>
      <td><%= character.skill_c_id %></td>      
      
    </tr>
  <% end %>
</table>