 <%= stylesheet_link_tag "application" %>


<div class = "row">
  <div class = "column terrain"> <p> TODO: Terrain Column? </p> </div>
  <div class = "column map">
    <table id = "map">
      <tr>  
        <td class = "tile" id = "11"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "12"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "13"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "14"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "15"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "16"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
      </tr>
      <tr>    
        <td class = "tile" id = "21"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "22"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "23"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "24"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "25"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "26"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
      </tr>
      <tr>    
        <td class = "tile" id = "31"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "32"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "33"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "34"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "35"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "36"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
      </tr>
      <tr>      
        <td class = "tile" id = "41"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "42"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "43"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "44"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "45"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "46"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
      </tr>
      <tr>      
        <td class = "tile" id = "51"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "52"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "53"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "54"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "55"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "56"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
      </tr>
      <tr>      
        <td class = "tile" id = "61"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "62"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "63"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "64"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "65"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "66"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
      </tr>
      <tr>      
        <td class = "tile" id = "71"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "72"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "73"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "74"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "75"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "76"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
      </tr>
      <tr>
        <td class = "tile" id = "81"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "82"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "83"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "84"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "85"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
        <td class = "tile" id = "86"> 
          <%= image_tag "tiles/normal.png", class: "tileImage" %>  
        </td>
      </tr>
    </table>
  </div>  
  <div class = "column character">
    <%= form_with scope: :character, url: characters_url, local: true do |form| %>
      <div id = "characterLogisticsRow">
        <div id = "characterLogistics">
          <p>
            <%= form.label :Name %><br>
            <%= form.text_field :name, value: "New Character" %>
          </p>
          <p>
            <%= form.label "Move Type" %><br>
            <%= form.collection_select :move_type_id, MoveType.all, :id, :name %>            
          </p>
        </div>
        <div id = "characterLogistics">        
          <p>
            <%= form.label "Weapon Type" %><br>
            <%= form.collection_select :weapon_type_id, WeaponType.all, :id, :name %>            
          </p>
          <p>
            <%= form.label :Type %><br>
            <%= form.collection_select :type_id, Type.all, :id, :name %>            
          </p>
        </div>
      </div>

      <div id = "characterSkillsRow">
        <div id = "characterSkills">
          <p>
            <%= form.label :weapon_name %><br>
            <%= form.text_field :weapon_name, value: Weapon.first().name, class: :weapon_name, data: {src: Weapon.order(:name).map(&:name)} %>
          </p>
          <p>
            <%= form.label :assist_name %><br>
            <%= form.text_field :assist_name, value: Assist.first().name, class: :assist_name, data: {src: Assist.order(:name).map(&:name)} %>
          </p>
          <p>
            <%= form.label :special_name %><br>
            <%= form.text_field :special_name, value: Special.first().name, class: :special_name, data: {src: Special.order(:name).map(&:name)} %>
          </p>
          <p>
            <%= form.label :skill_a_name %><br>
            <%= form.text_field :skill_a_name, value: SkillA.first().name, class: :skill_a_name, data: {src: SkillA.order(:name).map(&:name)} %>
          </p>
          <p>
            <%= form.label :skill_b_name %><br>
            <%= form.text_field :skill_b_name, value: SkillB.first().name, class: :skill_b_name, data: {src: SkillB.order(:name).map(&:name)} %>
          </p>
          <p>
            <%= form.label :skill_c_name %><br>
            <%= form.text_field :skill_c_name, value: SkillC.first().name, class: :skill_c_name, data: {src: SkillC.order(:name).map(&:name)} %>
          </p>

          <p>
            <%= form.label :Seal %><br>
            <%= form.text_field :seal_id %>
          </p>
        </div>

        <div id = "characterSkills">
          <p>
            <%= form.label :Atk %><br>
            <%= form.text_field :attack, value: 0 %>
          </p>

          <p>
            <%= form.label :Spd %><br>
            <%= form.text_field :speed, value: 0 %>
          </p>

          <p>
            <%= form.label :Def %><br>
            <%= form.text_field :defense, value: 0 %>
          </p>

          <p>
            <%= form.label :Res %><br>
            <%= form.text_field :resistance, value: 0 %>
          </p>
        </div>
      </div>
      <p>
        <%= form.submit %>
      </p>
    <% end %>

    <% if @latestCharacter != nil %>
      <p>
        Created Character: 
        <%= @latestCharacter.name %>
        <%= image_tag "characters/test.png", class: "characterImage" %>          
      </p>
    <% end %>
  </div>
</div>

<% if false %>
<table>
  <tr>
    <th>Name</th>
    <th>Weapon</th>
    <th>Special</th>
    <th>Assist</th>
    <th>Skill A</th>
    <th>Skill B</th>
    <th>Skill C</th>
    
  </tr>

  <% @characters.each do |character| %>
    <tr>
      <td><%= character.name %></td>
      <td><%= character.weapon_id %></td>
      <td><%= character.special_id %></td>
      <td><%= character.assist_id %></td>
      <td><%= character.skill_a_id %></td>
      <td><%= character.skill_b_id %></td>
      <td><%= character.skill_c_id %></td>      
      
    </tr>
  <% end %>
</table> 
<% end %>